#wrapper {
    max-width: 350px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

img {
    max-width: 100%;
}


/*header*/

#nav-info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#nav-info>.icon {
    
    width: 100%;
    order: 0;
}

#nav-info img {
    width: 60px;
}

#nav-info>nav {
    width: 100%;
    order: -1;
}

#nav-info>nav>ul {
    padding-left: 0px; 
}

#nav-info>nav>ul>li {
    display: inline;
    font-size: 1.4rem;
    margin-right: 10px; 
}

#nav-info>nav>ul>li:last-child {
    margin-right: 0px; 
}

#nav-info>aside {
    display: none;
}


/*main*/

div.imgbox {
/*border: 1px solid #333;*/
overflow: hidden;
max-height: 248px;
width: 100%;
}

.hero-unit img {
    height: 233px;
}

#titleA,
#titleB {
    padding: 10px;
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
    vertical-align: bottom;
}

#titleB {
    background-color: black;
    color: white;
}

br{
    display: none;
}

#nd-nav {
    display: none;
}

#archives>div {
    margin: 20px 0 20px 0;
}