#wrapper {
    max-width: 480px;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

/*header*/

#nav-info {
    display: flex;
    flex-wrap: wrap;
}

#nav-info>.icon {
    width: 13%;
}

#nav-info img {
    width: 60px;
}

#nav-info>nav {
    width: 87%;
}

#nav-info>nav>ul {
    padding-left: 0px; 
}

#nav-info>nav>ul>li {
    display: inline;
    font-size: 1.7rem;
    margin-right: 20px; 
}

#nav-info>nav>ul>li:last-child {
    margin-right: 0px; 
}

#nav-info>aside {
    display: none;
}

/*main*/

div.imgbox {
/*border: 1px solid #333;*/
overflow: hidden;
max-height: 233px;
width: 100%;
}

.hero-unit img {
    width: 100%;  
}

#titleA,
#titleB {
    padding: 10px;
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
    vertical-align: bottom;
}

#titleB {
    background-color: black;
    color: white;
}

br{
    display: none;
}

#nd-nav {
    display: none;
}

#archives{
    display: flex;
    flex-wrap: wrap;
}

#archives>div {
    box-sizing: border-box;
    width: 50%;
    padding: 20px 5px 20px 5px;
}

#archives img{
    width:100%;
}
